<div id="<%= dom_id task %>">

</div>

<table class="inner-table">


<tr>

<td> 
<strong><u>Name:</u></strong>
<%= task.name %>
 </td>
<td> 
<strong><u>Status:</u></strong>
<%= task.status %>
 </td>
<td> 
<strong><u>Project:</u></strong>
<%= task.project.name %>
 </td>
  

</td>

</tr>

</table>